body {
     margin: 10px;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
  
     }
  